/* Primary and Surface Palettes */
:root {
  --p-primary-50: #e9f9f0;
  --p-primary-100: #c8f3dd;
  --p-primary-200: #9fe6c8;
  --p-primary-300: #6ed7b0;
  --p-primary-400: #3fc899;
  --p-primary-500: #26b583; /* Haupt-Primärfarbe */
  --p-primary-600: #20956d;
  --p-primary-700: #197258;
  --p-primary-800: #115342;
  --p-primary-900: #0a392d;

  --p-surface-0: #ffffff;
  --p-surface-50: #f8f9fa;
  --p-surface-100: #eff0f1;
  --p-surface-200: #dcdfe2;
  --p-surface-300: #c4c8cc;
  --p-surface-400: #a2a9af;
  --p-surface-500: #80888f; /* Hauptoberflächenfarbe */
  --p-surface-600: #626b72;
  --p-surface-700: #495055;
  --p-surface-800: #34393e;
  --p-surface-900: #202326;

  --p-content-border-radius: 8px;
}

/* Light Theme */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-400);
  --p-primary-active-color: var(--p-primary-600);

  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);

  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);

  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* Dark Mode */
@media (prefers-color-scheme: light) {
  :root {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-600);

    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);

    --p-highlight-background: rgba(38, 181, 131, 0.12); /* Transparenter Primärfarbton */
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: rgba(38, 181, 131, 0.24);
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);

    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
  }
}